@font-face{font-family:"HelveticaNeueW01-57Cn";src:url(../fonts/font1.woff2);src:url(../fonts/HelveticaNeueW01-57Cn.ttf)}
@font-face{font-family:"HelveticaNeueW01-67MdCn 692710";src:url(../fonts/font2.woff2);src:url(../fonts/HelveticaNeueW01-67MdCn.ttf)}
@font-face{font-family:"PT Sans W01 Narrow Bold";src:url(../fonts/font3.woff2);src:url(../fonts/PTSansW01-NarrowRegular.ttf)}
@font-face{font-family:"PTSansW01-NarrowRegular";src:url(../fonts/font4.woff2)}